{% extends 'core/layout.html' %}
{% load static %}
{% block title %}Books List{% endblock %}

{% block content %}
<a href="{% url 'home' %}" id="go_home_id">Home</a>
    <h1>Books</h1>
    <form method="get" class="filters">
        <select name="genre">
                <option value="All" {% if selected_genre == "All" %}selected{% endif %}>All Genres</option>
            {% for g in genres %}
                <option value="{{ g }}" {% if selected_genre == g %}selected{% endif %}>{{ g }}</option>
            {% endfor %}
        </select>
        <input type="text" name="search" placeholder="Search books..." value="{{ search }}">
        <button type="submit">Filter</button>
    </form>
    <div class="book-list">
        {% for book in books %}
            <div class="book-card">
                {% if book.image %}
                    <img src="{{ book.image.url }}" alt="{{ book.book_name }}">
                {% else %}
                    <img src="{% static 'img/default_book.jpg' %}" alt="No image">
                {% endif %}
                <h3>{{ book.book_name }}</h3>
                <p><strong>Author:</strong> {{ book.author }}</p>
                <p><strong>Genre:</strong> {{ book.genre }}</p> <!-- transitive dependancy right below -->
                <p><strong>Owner:</strong> <a href="{% url 'profile' book.owner_id %}">{{ book.owner.username }}</a></p>
                <p><strong>Condition:</strong> {{ book.condition }}</p>
            </div>
        {% empty %}
            <p style="color:#fff;">No books found.</p>
        {% endfor %}
    </div>
{% endblock %}
