{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>
        {% block title %} 
        This is a Title 
        {% endblock %}
    </title>
    
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <nav>
        <ul>
            <a href="{% url 'home' %}">🏠</a> |
            <a href="{% url 'books' %}">📚</a> |
            <a href="{% url 'profile' request.user.id %}">🙋</a> |
            <a href="{% url 'mytrades' %}">💱</a> |
            <a href="{% url 'settings' %}">⚙️</a> |
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>