{% extends 'core/layout.html' %}
{% load static %}
{% block title %}Settings{% endblock %}

{% block content %}
    {% if is_owner %}
        <a href="{% url 'upload_book' %}">Upload a book</a>
    {% endif %}

    <h1>{{ profile_user.username }}'s Profile</h1>
    <p><strong>Date Joined:</strong> {{ date_joined }}</p>
    <p><strong>Last Login:</strong> {{ last_login }}</p>
    <p><strong>Number of Trades Completed:</strong> {{ num_trades_completed }}</p>
    <p><strong>Average Rating:</strong> {{ average_rating }}</p>
    
    
    <h2>Books Owned</h2>
    <div class="book-list">
        {% for book in owned_books %}
            <div class="book-card">
                {% if book.image %}
                    <img src="{{ book.image.url }}" alt="{{ book.book_name }}">
                {% else %}
                    <img src="{% static 'img/default_book.jpg' %}" alt="No image">
                {% endif %}
                <h3>{{ book.book_name }}</h3>
                <p><strong>Author:</strong> {{ book.author }}</p>
                <p><strong>Genre:</strong> {{ book.genre }}</p> <!-- transitive dependancy right below -->
                <p><strong>Owner:</strong> <a href="{% url 'profile' book.owner_id %}">{{ book.owner.username }}</a></p>
                <p><strong>Condition:</strong> {{ book.condition }}</p>
                {% if is_owner %}
                    <form action="{% url 'delete_book' book.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Delete this book?')">Delete Book</button>
                    </form>
                {% endif %}
            </div>
        {% empty %}
            <p style="color:#fff;">No books found.</p>
        {% endfor %}
    </div>

    <h2>Books Wished</h2>
    <div class="book-list">
        {% for book in wished_books %}
            <div class="book-card">
                {% if book.image %}
                    <img src="{{ book.image.url }}" alt="{{ book.book_name }}">
                {% else %}
                    <img src="{% static 'img/default_book.jpg' %}" alt="No image">
                {% endif %}
                <h3>{{ book.book_name }}</h3>
                <p><strong>Author:</strong> {{ book.author }}</p>
                <p><strong>Genre:</strong> {{ book.genre }}</p> <!-- transitive dependancy right below -->
                <p><strong>Owner:</strong> <a href="{% url 'profile' book.owner_id %}">{{ book.owner.username }}</a></p>
                <p><strong>Condition:</strong> {{ book.condition }}</p>
                {% if is_owner %}
                    <form action="{% url 'delete_book' book.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Delete this book?')">Delete Book</button>
                    </form>
                {% endif %}
            </div>
        {% empty %}
            <p style="color:#fff;">No books found.</p>
        {% endfor %}
    </div>
    <div>
        {% if not is_owner %}
        <form action="{% url 'start_trade' profile_user.id %}" method="get" style="display:inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Start Trade</button>
        </form>
    {% endif %}
    </div>
{% endblock %}