{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'home' %}" id="go_home_id">Home</a>
    <h1>Trade Details</h1>
    <p><strong>Trade ID:</strong> {{ trade.id }}</p>
    <p><strong>Book:</strong> {{ trade.book.title }}</p>
    <p><strong>From:</strong> {{ trade.from_user.username }}</p>
    <p><strong>To:</strong> {{ trade.to_user.username }}</p>
    <p><strong>Status:</strong> {{ trade.status }}</p>
    <p><strong>Requester Received:</strong> {{ trade.requester_recieved }}</p>
    <p><strong>Responder Received:</strong> {{ trade.responder_recieved }}</p>

    {% if request.user == trade.from_user and not trade.requester_recieved %}
        <form method="post" action="{% url 'confirm_receipt' trade.id %}">
            {% csrf_token %}
            <button type="submit">Confirm Receipt</button>
        </form>
    {% elif request.user == trade.to_user and not trade.responder_recieved %}
        <form method="post" action="{% url 'confirm_receipt' trade.id %}">
            {% csrf_token %}
            <button type="submit">Confirm Receipt</button>
        </form>
    {% endif %}
</body>
</html>