{% load static %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Upload Book</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <a href="{% url 'profile' user_id=request.user.id %}">Cancle and go back to profile</a>
  <h1>Upload a Book</h1>
  <form method="post" enctype="multipart/form-data" action="{% url 'upload_book' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
  </form>
</body>
</html>